[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "public"]
	path = public
	url = git@github.com:r0B-O/r0B-O.github.io.git
	branch = main
